* {
  margin: 0;
}

.app {
  margin-top: 20px;
  justify-content: space-evenly;
  display: flex;
  background-color: green;
}

.app_left {
  flex: 0.9;
}

.app_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app_header_left {
  flex: 0.9;
}

.app_stat {
  display: flex;
  justify-content: space-between;
}
