* {
  margin: 0;
}

.app {
  padding: 20px;
  justify-content: space-evenly;
  display: flex;
}

.app_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.app_header_left {
  flex: 0.9;
}

.app_stat {
  display: flex;
  justify-content: space-between;
}

.app_left {
  flex: 0.9;
}

.app_right {
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}