.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox_cases {
    color: #cc1034;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    font-weight: 600;
}

.infoBox_total {
    color: #6c757d;
    margin-top: 15px !important;
    font-size: 0.8rem !important;
    font-weight: 700 !important;
}

.infoBox--selected-green {
    border-top: 10px solid greenyellow;
}

.infoBox--selected-red {
    border-top: 10px solid red;
}

.infoBox_cases-green {
    color: lightgreen !important;
}