.table {
    margin-top: 20px;
    overflow: auto;
    height: 490px;
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: rgb(255, 131, 131);
}